<%= form_tag({ :controller => 'search', :action => 'index' }, :method => "get", :class => 'word-input') do %>
  <div class="select">
    <% if params[:from] %>
      <%= select_tag(:from, options_from_collection_for_select(Language.where(:from => true), :id, :name, params[:from])) %>
    <% else %>
      <%= select_tag(:from, options_from_collection_for_select(Language.where(:from => true), :id, :name)) %>
    <% end %>
  </div>

  <%= image_tag "lang-arrow.png", :class => 'lang-arrow' %>
  
  <div class="select">
    <% if params[:to] %>
      <%= select_tag(:to, options_from_collection_for_select(Language.where(:to => true), :id, :name, params[:to])) %>
    <% else %>
      <%= select_tag(:to, options_from_collection_for_select(Language.where(:to => true), :id, :name)) %>
    <% end %>
  </div>


  <%= text_field_tag(:word, nil, :autocomplete => 'off') %>
  <div class="prompt" id="word-input"></div>

  <a class="submit" id="dupa"><%= t("search") %></a>
  <% if ENV['RAILS_ENV'] == "test" %>
    <%= submit_tag 'submit' %>
  <% end %>
<% end %>