<h3><%= t("upload.title") %></h3>
<p class="info"><%= t("upload.info") %></h3>

<%= form_for @dict, :url => { :controller => 'pages', :action => 'dictionary_upload' }, :method => "post", :multipart => true, :html => { :class => "file-upload" } do |f| %>
  <div class="line">
    <div class="fake-text-input-file"><%= f.file_field :file, :size => 100 %><p class="text"><%= t("upload.choose") %></p></div>
    <a class="fake-button-file"><%= t("upload.look") %></a>
  </div>
  <div class="line">
    <div class="left">
      <% @dict.errors.messages[:file].each do |msg| %>
        <%= msg %>
      <% end %>
    </div>
    <a class="submit"><%= t("upload.submit") %></a>
    <% if ENV['RAILS_ENV'] == "test" %>
      <%= submit_tag 'submit' %>
    <% end %>
  </div>
<% end %>

<% if @mess %>
  <h3><%= @mess %></h3>
<% end %>